Node-Red/IoT-Project-Email-Flow.json
[{"id":"c4f0656d.0d50d8","type":"tab","label":"IoT-Project-Email-Flow","disabled":false,"info":""},{"id":"4d92dbe.242e824","type":"http response","z":"c4f0656d.0d50d8","name":"","statusCode":"200","headers":{},"x":980,"y":300,"wires":[]},{"id":"7952d877.3057c8","type":"http in","z":"c4f0656d.0d50d8","name":"","url":"/sendemail","method":"get","upload":false,"swaggerDoc":"","x":400,"y":360,"wires":[["4d92dbe.242e824","5d790bb.a1bdef4"]]},{"id":"1da69645.7880ca","type":"e-mail","z":"c4f0656d.0d50d8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":970,"y":360,"wires":[]},{"id":"5d790bb.a1bdef4","type":"function","z":"c4f0656d.0d50d8","name":"","func":"var email = msg.payload.email;\nvar d = new Date();\nd.toLocaleString(); \nvar body = 'A person was detected at ' + d + ' near your safe!';\nvar subject = 'Person detected!'\nmsg = {\n    to: email,\n    topic: subject,\n    payload: body\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":360,"wires":[["1da69645.7880ca"]]}]