Node-Red/IoT-Project-Sensor-Flow.json
[{"id":"3931aec6.7be752","type":"tab","label":"IoT-Project-Sensor-Flow","disabled":false,"info":""},{"id":"c4e8fec2.8e8cb","type":"mqtt out","z":"3931aec6.7be752","name":"","topic":"project/sensors","qos":"","retain":"","broker":"ae9d444b.2e9488","x":1200,"y":800,"wires":[]},{"id":"12f48115.00b35f","type":"function","z":"3931aec6.7be752","name":"checkPredict","func":"var accString = msg.payload.toString('utf8');\nvar sensorJSON = JSON.parse(accString);\n// var msg = {\n//     payload: {\n//         accelerometer: {value: sensorJSON['lsm6dsm accelerometer']},\n//         proximity: {value: sensorJSON['infrared_proximity']},\n//     },\n// };\nvar sensorInfo = {\n    accelerometer: {value: sensorJSON['linear_acceleration']},\n    proximity: {value: sensorJSON['infrared_proximity']},\n    isPredict: false,\n};\n\nvar xPrev = flow.get('xPrev');\nvar yPrev = flow.get('yPrev');\nvar zPrev = flow.get('zPrev');\n\nif (xPrev == undefined) {\n    sensorInfo.didUpdate = true;\n    flow.set('xPrev', sensorInfo.accelerometer.value[0])\n    flow.set('yPrev', sensorInfo.accelerometer.value[1])\n    flow.set('zPrev', sensorInfo.accelerometer.value[2])\n    }\n\nxAcceleration = sensorInfo.accelerometer.value[0];\nyAcceleration = sensorInfo.accelerometer.value[1];\nzAcceleration = sensorInfo.accelerometer.value[2];\nxChange = xPrev - xAcceleration\nyChange = yPrev - yAcceleration\nzChange = zPrev - zAcceleration\n// the only proximity that seeems to change is the second one for some reason\nproximity = sensorInfo.proximity.value[1]; \nif (xChange > 0.5 || yChange > 0.5 || zChange > 0.5) {\n    console.log('found change');\n    sensorInfo.isPredict = true;\n    \n}\nif (proximity > 200) {\n    console.log('found someone close');\n    sensorInfo.isPredict = true;\n}\nxPrev = xAcceleration;\nyPrev = yAcceleration;\nzPrev = zAcceleration;\nsensorInfo.proximity = proximity\n\nvar msg = {\n    payload: sensorInfo,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":880,"wires":[["f6b35a93.865c08"]]},{"id":"b860f5e6.413dc8","type":"tcp in","z":"3931aec6.7be752","name":"","server":"server","host":"","port":"4242","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":280,"y":880,"wires":[["12f48115.00b35f"]]},{"id":"3915e07e.a9cb4","type":"delay","z":"3931aec6.7be752","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":920,"y":800,"wires":[["c4e8fec2.8e8cb","9192e6fd.c6c988"]]},{"id":"9e0a07ee.fdf8e8","type":"delay","z":"3931aec6.7be752","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":920,"y":960,"wires":[["c4e8fec2.8e8cb","5799eba1.b333e4"]]},{"id":"f6b35a93.865c08","type":"switch","z":"3931aec6.7be752","name":"","property":"payload.isPredict","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"false","repair":true,"outputs":2,"x":690,"y":880,"wires":[["3915e07e.a9cb4"],["9e0a07ee.fdf8e8"]]},{"id":"9192e6fd.c6c988","type":"debug","z":"3931aec6.7be752","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":720,"wires":[]},{"id":"5799eba1.b333e4","type":"debug","z":"3931aec6.7be752","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":960,"wires":[]},{"id":"ae9d444b.2e9488","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]