Node-Red/IoT-Project-Email-Flow.json
[{"id":"c4f0656d.0d50d8","type":"tab","label":"IoT-Project-Email-Flow","disabled":false,"info":""},{"id":"4d92dbe.242e824","type":"http response","z":"c4f0656d.0d50d8","name":"","statusCode":"200","headers":{},"x":1080,"y":280,"wires":[]},{"id":"7952d877.3057c8","type":"http in","z":"c4f0656d.0d50d8","name":"","url":"/sendemail","method":"get","upload":false,"swaggerDoc":"","x":380,"y":340,"wires":[["5d790bb.a1bdef4"]]},{"id":"1da69645.7880ca","type":"e-mail","z":"c4f0656d.0d50d8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1070,"y":360,"wires":[]},{"id":"f9125f8.61bbca","type":"delay","z":"c4f0656d.0d50d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":880,"y":360,"wires":[["1da69645.7880ca"]]},{"id":"5d790bb.a1bdef4","type":"function","z":"c4f0656d.0d50d8","name":"","func":"var email = msg.payload.email;\nvar d = new Date();\nd.toLocaleString(); \nvar body = 'A person was detected at ' + d + ' near your safe!';\nvar subject = 'Person detected!'\nmsg = {\n    to: email,\n    topic: subject,\n    payload: body\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":340,"wires":[["4d92dbe.242e824","f9125f8.61bbca"]]}]